* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* position: relative; */
  /* overflow-x: hidden; */
  background-color: #022d46;
}

/* NAVBAR */
/* END OF NAVBAR */

/* HERO */
/* END OF HERO */

/* ABOUT */
/* END OF ABOUT */

/* OVERVIEW */
/* END OF OVERVIEW */

/* OUR LOCATION */
