* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

/* NAVBAR */
/* END OF NAVBAR */

/* ABOUT US */
/* END OF ABOUT US */

/* FOOTER */
/* END OF FOOTER */
