---
import Ambience from "./background/Ambience.astro";
import BgText from "./background/BgText.astro";
import Honeycomb from "./background/Honeycomb.astro";
---

<section class="min-h-screen w-full x-overflow-hidden">
  <!-- I am deeply sorry to whoever is reading this code. The code was written in astro then compiled into html -->
  <div
    class="flex align-middle justify-between pt-10 lg:pt-32 m-auto w-9/10 md:w-4/5 flex-col-reverse lg:flex-row-reverse"
  >
    <div class="flex-row justify-center">
      <img
        class="m-auto mt-20 lg:mt-0 pb-5 max-h-[500px] md:max-h-[600px] lg:max-h-[700px] xl:max-h-[800px]"
        src="assets/hero.png"
        alt="hero image"
      />
      <!-- <div
        class="absolute left-0 top-0 w-screen h-screen -z-10 overflow-x-hidden"
      > -->
    </div>
  </div>
  <div class="w-4/5 m-auto justify-center lg:hidden">
    <h1
      class="font-[ProgressExtended-Bold] text-white text-center text-6xl lg:text-right lg:text-7xl"
    >
      COMPETITION
    </h1>
    <h1
      class="font-[ProgressExtended-Bold] text-[#8094a3] text-center text-6xl lg:hidden p-3"
    >
      BIG DATA
    </h1>
    <h1
      class="font-[ProgressExtended-Bold] text-[#8094a3] text-center text-6xl lg:hidden"
    >
      UI/UX DESIGN
    </h1>
  </div>
  <div class="absolute w-full h-full top-0 left-0 overflow-x-clip -z-10">
    <Ambience
      xPos="left-[calc(50%-350px)] lg:left-auto lg:right-[75px]"
      yPos="top-[calc(50% - 350px)]"
      color="green"
    />
    <Honeycomb xPos="left-0" yPos="-top-64" />
    <BgText xPos="left-[200px]" yPos="top-32" />
  </div>
</section>
