<div id="home-location" class="mt-32 mb-64 lg:mt-48 xl:mt-56">
  <img
    src="assets/honeycomb-1.svg"
    alt=""
    class="home-honeycomb home-honeycomb-1"
  />
  <img src="assets/ball.svg" alt="" class="home-ball home-ball-1" />
  <img src="assets/ball.svg" alt="" class="home-ball home-ball-2" />
  <img
    src="assets/honeycomb-2.svg"
    alt=""
    class="home-honeycomb home-honeycomb-2"
  />
  <h2 class="section-title">Our Location</h2>
  <a href="https://goo.gl/maps/CNhcnAyMrqdEqy1s6" target="_blank">
    <img src="assets/binus-jkt.jpeg" alt="" />
  </a>
  <div class="home-location-info-wrapper">
    <div class="glass home-location-info">
      <div class="home-location-bottom">
        <p class="home-location-title">Jakarta</p>
        <p class="home-location-desc">
          Binus University &commat;Greater Jakarta
        </p>
      </div>
    </div>
  </div>
</div>
