---
export interface Props {
  xPos: string;
  yPos: string;
}

const { xPos, yPos } = Astro.props;
---

<div
  class={`${xPos} ${yPos} absolute light-purple light inline-block w-[700px] h-[700px] -z-10`}
>
</div>
