---
export interface Props {
  rotationClass: string;
  xPos: string;
  color: "purple" | "green";
}

const { rotationClass, xPos, color } = Astro.props;

const gradient1 = color === "purple" ? "#934b8f" : "#022d46";
const gradient2 = color === "purple" ? "#022d46" : "#934b8f";
---

<div
  class={`w-[40rem] h-[40rem] bg-gradient-to-r absolute ${xPos} -top-32 inline-block rounded-[7rem] ${rotationClass} to-[${gradient1}] from-[${gradient2}] -z-10`}
>
</div>
