---
export interface Props {
  rotationClass: string;
  xPos: string;
}

const { rotationClass, xPos } = Astro.props;
---

<div
  class={`w-[40rem] h-[40rem] bg-gradient-to-r absolute ${xPos} -top-32 inline-block rounded-[7rem] ${rotationClass} to-cyan-950 from-teal-700 -z-10`}
>
</div>
